LogicApps/Office365-FileProcessor-CopyToBlob.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "defaultValue": "CopyFiles_Office365_To_Blob",
            "type": "string"
        },
        "blobConnectionName": {
            "defaultValue": "blobConnector",
            "type": "string"
        },
        "office365ConnectionName": {
            "defaultValue": "office365Connector",
            "type": "string"
        },
        "blobAccountName": {
            "type": "string",
            "metadata": {
                "description": "blob Account Name"
            }
        },
        "blobAccessKey": {
            "type": "securestring",
            "metadata": {
                "description": "blob acccess key"
            }
        }
    },
    "variables": {
       "resourceLocation" : "[resourceGroup().location]"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[variables('resourceLocation')]",
            "tags": {
                "Environment": "poc"
            },

            "dependsOn": [
                "[resourceId('Microsoft.Web/connections',parameters('blobConnectionName'))]",
                "[resourceId('Microsoft.Web/connections',parameters('office365ConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_new_email_arrives_(V3)": {
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnectionNotification",
                            "inputs": {
                                "fetch": {
                                    "method": "get",
                                    "pathTemplate": {
                                        "template": "/v3/Mail/OnNewEmail"
                                    },
                                    "queries": {
                                        "folderPath": "Inbox",
                                        "importance": "Any",
                                        "includeAttachments": true,
                                        "subjectFilter": "Gateway Monthly Upload Report"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "subscribe": {
                                    "body": {
                                        "NotificationUrl": "@{listCallbackUrl()}"
                                    },
                                    "method": "post",
                                    "pathTemplate": {
                                        "template": "/GraphMailSubscriptionPoke/$subscriptions"
                                    },
                                    "queries": {
                                        "folderPath": "Inbox",
                                        "importance": "Any"
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Check_if_email_has_attachment_-_otherwise_notify_team": {
                            "actions": {
                                "For_each": {
                                    "foreach": "@triggerBody()?['attachments']",
                                    "actions": {
                                        "Check_if_file_name_is_valid": {
                                            "actions": {
                                                "Create_blob": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": "@base64ToBinary(items('For_each')?['contentBytes'])",
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/datasets/default/files",
                                                        "queries": {
                                                            "folderPath": "/invoicingfiles@{concat('/',formatDateTime(utcNow(), 'yyyy'), '/', formatDateTime(utcNow(), 'MM'),'/PSC')}",
                                                            "name": "@items('For_each')?['name']",
                                                            "queryParametersSingleEncoded": true
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "Notify_Team_PSC_File_is_Received_and_Copied": {
                                                    "runAfter": {
                                                        "Create_blob": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {
                                                            "Body": "<p>PSC File Recevied and copied to @{body('Create_blob')?['Path']}</p>",
                                                            "Importance": "High",
                                                            "Subject": "PSC File Received - @{concat(formatDateTime(utcNow(), 'yyyy'), '-', formatDateTime(utcNow(), 'MM'))}",
                                                            "To": "@triggerBody()?['toRecipients']"
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                                            }
                                                        },
                                                        "method": "post",
                                                        "path": "/v2/Mail"
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "else": {
                                                "actions": {
                                                    "Notify_Team_-_PSC_file_name_is_not_valid": {
                                                        "runAfter": {},
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "body": {
                                                                "Body": "<p>PSC File with invalid file format ..</p>",
                                                                "Importance": "High",
                                                                "Subject": " Invalid PSC File Format",
                                                                "To": "@triggerBody()?['from']"
                                                            },
                                                            "host": {
                                                                "connection": {
                                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                                }
                                                            },
                                                            "method": "post",
                                                            "path": "/v2/Mail"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "contains": [
                                                            "@items('For_each')?['name']",
                                                            "GatewayMonthlyReports"
                                                        ]
                                                    },
                                                    {
                                                        "contains": [
                                                            "@items('For_each')?['name']",
                                                            "@formatDatetime(utcNow(),'yy')"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {},
                            "else": {
                                "actions": {
                                    "Notify_Team_-_PSC_file_not_attached_to_the_email": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "Body": "<p>@{concat('PSC File not attached to the email for-'\r\n, formatDatetime(utcNow(),'MMMMM'), ' ', formatDatetime(utcNow(),'dd'), ', '\r\n, formatDatetime(utcNow(),'yyyy'), '.')}</p>",
                                                "Importance": "High",
                                                "Subject": "PSC File not attached ",
                                                "To": "@triggerBody()?['from']"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/v2/Mail"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['hasAttachments']",
                                            "@true"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'azureblob')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('blobConnectionName'))]",
                                "connectionName": "[parameters('blobConnectionName')]"
                            },
                            "office365": {
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location , '/managedApis/', 'office365')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
                                "connectionName": "[parameters('office365ConnectionName')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "name": "[parameters('office365ConnectionName')]",
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "tags": {
            },
            "properties": {
                "displayName": "[parameters('office365ConnectionName')]",
                "parameterValues": {
                },
                "customParameterValues": {
                },
                "nonSecretParameterValues": {
                },
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "name": "[parameters('blobConnectionName')]",
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "tags": {
            },
            "properties": {
                "displayName": "[parameters('blobConnectionName')]",
                "parameterValues": {
                    "accountName": "[parameters('blobAccountName')]",
                    "accessKey": "[parameters('blobAccessKey')]"
                },
                "customParameterValues": {
                },
                "nonSecretParameterValues": {
                },
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureblob')]"
                }
            }
        }
    ],
    "outputs": {}
}